/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

#GLOBAL RESET
#BASE TYPOGRAPHY
#BUTTONS
#MEDIA
    #RESPONSIVE IMAGEs
#LAYOUT
    #CONTAINER
    #MEDIA QUERIES
    #SEMANTIC GRID SYSTEM
#STRUCTURE
    #SITE-HEADER
    #SITE-NAV
    #MAIN
        #SECTIONS
    #SITE FOOTER

*/
/* BASE TEXT COLORS */
body {
  color: #2E282A;
}

h1, h2, h3, h4, h5, h6 {
  color: #353b3c;
}

/* BASE TEXT FONTS */
body {
  font-family: "elza-narrow", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "elizeth-condensed", serif;
  font-weight: 500;
  font-style: normal;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5em 0;
}

/* TRADITIONAL TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 40em;
}

/* LINKS */
a {
  color: #2E282A;
}
a:hover {
  color: #414849;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  color: #353b3c;
}

.subheadline {
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.1;
  color: #474f50;
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "elza-narrow", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 3em 0;
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: #2E282A;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 0.5em 1em 0;
}
.button:hover {
  color: #fff;
  background-color: #414849;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* ANIMATED HERO NAME */
#logo {
  -webkit-animation: fill ease 0.5s forwards 3s;
          animation: fill ease 0.5s forwards 3s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 340px;
  stroke-dashoffset: 340px;
  -webkit-animation: line-anim 2s ease forwards 0.3s;
          animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 0.6s;
          animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 0.9s;
          animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 2.4s;
          animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 2.7s;
          animation: line-anim 2s ease forwards 2.7s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 3s;
          animation: line-anim 2s ease forwards 3s;
}

#logo path:nth-child(12) {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: line-anim 2s ease forwards 3.3s;
          animation: line-anim 2s ease forwards 3.3s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #353b3c;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #353b3c;
  }
}
/* LARGE SCREENS */
@media (max-width: 1250px) {
  /* HERO SECTION */
  .hero {
    background-color: #808E72;
    color: #474f50;
    text-align: center;
    padding: 6em 0;
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .hero .container {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero .container h1 {
    padding-left: 0.5em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #353b3c;
    margin-bottom: 0.25em;
    font-size: 1em;
  }
  .hero .container p {
    margin: 1em auto;
  }
}
/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 1em;
}

/* MEDIA QUEIRES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 2%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 96%;
  }
  .row .one-half {
    width: 44%;
  }
  .row .one-third {
    width: 29.3333%;
  }
  .row .two-thirds {
    width: 62.6666%;
  }
  .row .one-fourth {
    width: 21%;
  }
  .row .three-fourths {
    width: 71%;
  }
  .row .push-one-fourth {
    margin-left: 27%;
  }
  .row .push-one-third {
    margin-left: 35.3333%;
  }
  .row .push-one-half {
    margin-left: 52%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .row {
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* SITE STRUCUTURE */
.site-header {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header a {
  color: #FFFAFA;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}
.site-header .site-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .logo {
  max-width: 50px;
}
.site-header .logo svg:hover {
  fill: #FFFAFA;
}

/* HERO SECTION */
.hero {
  background-color: #808E72;
  color: #474f50;
  text-align: center;
  padding: 6em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.hero .container {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.hero .container .hero-name {
  max-width: 1000px;
}
.hero .container h1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #353b3c;
  margin-bottom: 0.25em;
  font-size: 4em;
}
.hero .container p {
  margin: 1em auto;
}

/* SITE MAIN */
.site-main {
  background-color: #FFFAFA;
}
.site-main h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

/* FEATURED PROJECTS */
#projects .row {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#projects .row .one-half {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#projects .row .one-half img {
  margin: 0;
  max-width: 770px;
}

/* SITE FOOTER */
.site-footer {
  background-color: #808E72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer .site-nav {
  display: inline-block;
}
.site-footer a {
  color: #FFFAFA;
  text-decoration: none;
}
.site-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  padding: 4em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

sectionproj {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-links a {
  color: #626d58;
}
.social-links a:hover {
  color: #FFFAFA;
}

/* SITE-HEADER SITE-NAV */
.site-header .site-nav {
  /* BIG SCREENS */
}
.site-header .site-nav .menu-button {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  color: #353b3c;
  margin: 0;
  font-size: 1.5em;
  line-height: 1;
  -webkit-transform: center;
          transform: center;
  z-index: 20;
  cursor: pointer;
}
.site-header .site-nav .menu-button svg {
  fill: #353b3c;
}
.site-header .site-nav .menu-button svg rect {
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.site-header .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFAFA;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  z-index: 1;
}
.site-header .site-nav li {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4vw;
  min-width: 20vw;
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  -webkit-transition: 0.3s all ease-out 0.3s;
  transition: 0.3s all ease-out 0.3s;
  opacity: 0;
}
.site-header .site-nav li a {
  color: #626d58;
  font-size: 3em;
}
.site-header .site-nav[data-navstate=open] .menu-button {
  position: fixed;
}
.site-header .site-nav[data-navstate=open] #menubar-top {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(7px, 7px) rotate(-45deg);
          transform: translate(7px, 7px) rotate(-45deg);
}
.site-header .site-nav[data-navstate=open] #menubar-middle {
  opacity: 0;
}
.site-header .site-nav[data-navstate=open] #menubar-bottom {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0, -4px) rotate(45deg);
          transform: translate(0, -4px) rotate(45deg);
}
.site-header .site-nav[data-navstate=open] ul {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.site-header .site-nav[data-navstate=open] li {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
@media (min-width: 768px) {
  .site-header .site-nav .menu-button {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .site-header .site-nav ul {
    background-color: transparent;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: static;
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: none;
    transition: none;
  }
  .site-header .site-nav li {
    max-width: 40vw;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    font-size: 0.3em;
    min-width: 0;
    margin: 0 1em 0 6em;
  }
  .site-header .site-nav li a {
    color: #353b3c;
  }
  .site-header .site-nav li a:hover {
    color: #FFFAFA;
  }
}

/* MEDIUM SCREENS */
@media (max-width: 1050px) {
  /* HERO SECTION */
  .hero {
    background-color: #808E72;
    color: #474f50;
    text-align: center;
    padding: 6em 0;
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .hero .container {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero .container .hero-name {
    max-width: 700px;
    margin: 0;
  }
  .hero .container .hero-name #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 700px;
  }
  .hero .container h1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #353b3c;
    margin-bottom: 0.25em;
    font-size: 4em;
  }
  .hero .container p {
    font-size: 1.4em;
    margin: 1em auto;
  }
}
/* SMALL SCREENS */
@media (max-width: 768px) {
  /* HERO SECTION */
  .hero {
    background-color: #808E72;
    color: #474f50;
    text-align: center;
    padding: 6em 0;
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .hero .container {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero .container .hero-name {
    max-width: 300px;
    margin: 0;
  }
  .hero .container .hero-name #logo {
    max-width: 300px;
  }
  .hero .container h1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #353b3c;
    margin-bottom: 0.25em;
    font-size: 4em;
  }
  .hero .container p {
    font-size: 1em;
    margin: 1em auto;
  }
}
/* FOOTER SITE-NAV */
.site-footer .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-footer .site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

/* ANIMATION */
.hero .container *,
.hero[data-sectionstate=inactive] .container * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.hero .container * #logo:nth-child(1),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.hero .container * #logo:nth-child(2),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.hero .container * #logo:nth-child(2),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(2) {
  -webkit-transition-delay: 2.8s;
          transition-delay: 2.8s;
}
.hero .container * #logo:nth-child(3),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.hero .container * #logo:nth-child(4),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.hero .container * #logo:nth-child(5),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(5) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.hero .container * #logo:nth-child(6),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(6) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
.hero .container * #logo:nth-child(7),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(7) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
.hero .container * #logo:nth-child(8),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(8) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}
.hero .container * #logo:nth-child(9),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(9) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
.hero .container * #logo:nth-child(10),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(10) {
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}
.hero .container * #logo:nth-child(11),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(11) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}
.hero .container * #logo:nth-child(12),
.hero[data-sectionstate=inactive] .container * #logo:nth-child(12) {
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}
.hero .container * p:nth-child(2),
.hero[data-sectionstate=inactive] .container * p:nth-child(2) {
  -webkit-transition-delay: 3.8s;
          transition-delay: 3.8s;
}
.hero[data-sectionstate=active] .container *,
.hero[data-sectionstate=inactive][data-sectionstate=active] .container * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#projects .one-half:nth-child(1) {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
}
#projects[data-sectionstate=active] .one-half:nth-child(1) {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#projects .one-half:nth-child(2) {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
}
#projects[data-sectionstate=active] .one-half:nth-child(2) {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#projects .one-half:nth-child(3) {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
}
#projects[data-sectionstate=active] .one-half:nth-child(3) {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#projects .one-half:nth-child(4) {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
}
#projects[data-sectionstate=active] .one-half:nth-child(4) {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-drop-in-with-delay *,
[data-sectionstate=inactive] .animate-drop-in-with-delay * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.animate-drop-in-with-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.animate-drop-in-with-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.animate-drop-in-with-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.animate-drop-in-with-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.animate-drop-in-with-delay *:nth-child(5),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

[data-sectionstate=active] .animate-drop-in-with-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}