/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES
$color-portfolio-bg: #808E72;
$color-portfolio-bg-opac: #808e7237;
$color-light-green: #97a887;
$color-portfolio-bg-darker: #626d58;
$color-text-body: #2E282A;
$color-text-headings: #353b3c;
$color-dark-opac: #353b3c48;
$color-about: #262730;
$color-text-subheadings: #474f50;
$color-white-bg: #F8F7F3;
$color-white: #FFFAFA;
$color-amber: #d2b84e88;
$color-dark-purple: #231515;
$color-blue: #758c90;
$color-white-opac: #fffafa59;
$color-link: #2E282A;
$color-link-lighter: #414849;

$font-family-sans: 'elza-narrow', sans-serif; 
$font-family-serif: 'elizeth-condensed', serif; 
$font-family-quotes: 'neighbor', serif; 

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography"; 
@import "partials/helpers";
@import "partials/buttons";
@import "partials/media";  
@import "partials/layout";   
@import "partials/grid"; 
@import "partials/structure"; 
@import "partials/sitenav";   
@import "partials/animations";  


