/* BUTTONS */
.button {
    display: inline-block;
    background-color: $color-link;
    color: $color-white;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 5em;
    margin: 1em .5em 1em 0;

    a {
        color: $color-white;
    }

    &:hover {
        color: $color-white-opac;
        background-color: $color-link-lighter;
    }
}

.button-light {
    display: inline-block;
    background-color: $color-link;
    color: $color-white;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 5em;
    margin: 1em .5em 1em 0;

    a {
        color: $color-white;
    }

    &:hover {
        color: $color-white-opac;
        background-color: $color-link-lighter;
    }
}