// TO HIDE SOMETHING VISUALLY
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

// LOADING ANIMATION
body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

// HR
hr {
    margin: 1em;
    max-width: 100%;
    background-color: $color-light-green;
}

// PADDING
.padding {
    padding: 4em;
}

.padding1 {
    padding: 0 4em;
}

// SPACING
.spaced {
    max-width: 1000px;

    .row {
        display: flex;
        justify-content: center;
    }
}