/* RESPONSIVE IMAGES */

img {
    max-width: 100%;
    height: auto;
}

.box-shadow {
    img {
        box-shadow: 0px 0px 20px $color-text-headings;
    }
}

/* VIDEO */ 
.back-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    filter: opacity(95%);
}

/* HERO IMAGE */ 
.banner {
    .back-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80vh;
    }
}

/* ANIMATED HERO NAME */ 
#logo {
    animation: fill ease 0.5s forwards 4s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
    stroke-dasharray: 340px;
    stroke-dashoffset: 340px;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(8) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(9) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(10) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(11) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 3.0s;
}
#logo path:nth-child(12) {
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: line-anim 2s ease forwards 3.3s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: $color-white;
    }
}

/* MEDIA QUERIES */ 
@media (min-width: $breakpoint-small) {
    // HOMEPAGE HERO 
    .site-main {
        .home-hero-name {
            width: 700px !important;
    
            svg {
                display: flex;
                justify-content: center;
                width: 700px !important;
            }

            .svg_p {
                margin-top: .5em !important;
                font-size: 1.5em !important;
            }

            .inline-photo-above-p {
                opacity: 0;
                transform: translate(0, 20px);
                transition: transform 2s,
                            opacity .3s .25s ease-out;
                width: 100%;
                will-change: transform, opacity;
                transition: all 1s ease-out;
            }
        
            .inline-photo-above-p.is-visible {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }

    // PROJECT INFORMATION
    .proj-info {
        display: flex !important; 
        justify-content: space-between;

        .proj-stats {
            width: 200px !important;

            hr {
                width: 75% !important;
            }
        }

        .insight {
            p {
                font-size: 1.2em !important;
                width: 800px !important;
            }
        }
    }

    // SEE MORE WORK
    .see-more {
        .row {
            .one-third {
                margin: 1em;
            }
        }
    }

    // ABOUT ME PAGE
    .about {
        .name {
            h1 {
                font-size: 2em !important;
            }
        }
    }

    .bio {
        .sub-title {
            justify-content: flex-start !important;
        }
    
        .changing-text {
            justify-content: flex-start !important;
    
            .texts-container{
    
                .roles {
                    margin: 0;
    
                    p {
                        justify-content: flex-start !important;
                    }
    
                }
            }
        }
        
        @keyframes moveUp{
            0%{
                transform: translateY(0);
            }
        
            33%{
                transform: translateY(-130%);
            }
        
            66%{
                transform: translateY(-200%);
            }
        
            100% {
                transform: translateY(0);
            }
        }
    
        .bio-p {
            justify-content: flex-start !important;
        }
    
        .bio-p-location {
            justify-content: flex-start !important;
            margin: 0 !important;
            font-size: 3em !important;
        }
    
        .social-links {
            justify-content: flex-start !important;
    
            a {
                justify-content: flex-start !important;
            }
        }
    }
    

    // GALLERY 
    .MFH {
        .mfh_tshirt {
            img {
                transition: ease-in-out .2s;

                &:hover {
                    transform: scale(2);
                    transition: ease-in-out .2s;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}