/* SITE-HEADER SITE-NAV */ 
.site-header .site-nav {
    .menu-button {
        position: absolute;
        top: .75em;
        right: .75em;
        color: $color-text-headings;
        margin: 0;
        font-size: 1.5em;
        line-height: 1;
        transform: center;
        z-index: 20;
        cursor: pointer;

        svg {
            fill: $color-text-headings;
            rect {
                transition: .3s all ease-out;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $color-white;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(100%,0);
        transition: .3s all ease-out;
        z-index: 1;
    }

    li {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 4vw;
        min-width: 20vw;
        transform: translate(10%,0);
        transition: .3s all ease-out .3s;
        opacity: 0;

        a {
            color: $color-portfolio-bg-darker;
            font-size: 3em;
        }
    }

    &[data-navstate="open"] {
        .menu-button {
            position: fixed;
        }

        #menubar-top {
            transform-origin: center;
            transform: translate(7px,7px) rotate(-45deg);
        }

        #menubar-middle {
            opacity: 0;
        }

        #menubar-bottom {
            transform-origin: center;
            transform: translate(0,-4px) rotate(45deg);
        }

        ul {
            transform: translate(0,0);
        }

        li {
            transform: translate(0,0);
            opacity: 1;
        }
    }

    /* BIG SCREENS */ 
    @media (min-width: 768px) {
        .menu-button {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        ul {
            background-color: transparent;
            transform: translate(0,0);
            position: static;
            width: auto;
            height: auto;
            flex-direction: row;
            transition: none;
        }

        li {
            max-width: 40vw;
            opacity: 1;
            transform: translate(0,0);
            font-size: .3em;
            min-width: 0;
            margin: 0 1em 0 6em;

            a {
                color: $color-text-headings;
                
                &:hover {
                    color: $color-white;
                }
            }
        }
    }
}

/* MEDIUM SCREENS */
@media (max-width: $breakpoint-medium) { 
    section {
        min-height: 75vh;
    }
    /* HERO SECTION */
    .hero {
        background-color: $color-portfolio-bg;
        color: $color-text-subheadings;
        text-align: center;
        padding: 6em 0;
        min-height: 100vh;
        display: grid;
        place-items: center;

        .container {
            display: inline-block;
            align-items: center;
            text-align: center;

            .hero-name {
                max-width: 700px;
                margin: 0;

                #logo {
                    display: flex;
                    justify-content: center;
                    max-width: 700px;
                }
            }

            h1 {
                justify-content: flex-start;
                color: $color-text-headings;
                margin-bottom: .25em;
                font-size: 4em;
            }
        
            p {
                font-size: 1.4em;
                margin: 1em auto;
            }
        }
    }
}


/* SMALL SCREENS */
@media (max-width: $breakpoint-small) { 
    section {
        min-height: 75vh;
    }

    /* HERO SECTION */
    .hero {
        background-color: $color-portfolio-bg;
        color: $color-text-subheadings;
        text-align: center;
        padding: 6em 0;
        min-height: 100vh;
        display: grid;
        place-items: center;

        .container {
            display: inline-block;
            align-items: center;
            text-align: center;

            .hero-name {
                max-width: 400px;
                margin: 0;

                #logo {
                    max-width: 400px;
                }
            }

            h1 {
                justify-content: flex-start;
                color: $color-text-headings;
                margin-bottom: .25em;
                font-size: 5em;
            }
        
            p {
                font-size: 1em;
                margin: 1em auto;
            }
        }
    }

    /* AMBER AYRE */ 
    .site-header {
        z-index: 1;
    }
    
    #anim-hero {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(/img/AmberAyre_Header01.jpg);
        background-position: center;
        background-attachment: fixed;
    }

    .proj-info {

        h5 {
            color: $color-light-green;
            font-weight: 600;
        }

        li {
            list-style: none;
        }

        hr {
            max-width: 80%;
        }

        .details {
            align-items: center;
        }

        .sub-title {
            font-family: $font-family-serif;
            font-weight: 600;
            font-size: .6em;
            text-transform: uppercase;
            color: $color-light-green;
        }
    }

}

/* FOOTER SITE-NAV */ 
.site-footer .site-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    a {
        display: inline-block;
        padding: 1em;
        line-height: 1;
    }
}