/* SITE STRUCUTURE */ 
.site-header{
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 50px;
    }

}

.site-header-white {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 50px;
    }

}

/* HERO STRUCTURE */ 
.site-main {
    background-color: $color-white;

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }
    }

    .hero-name-dark {
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;

        h1 {
            display: flex;
            justify-content: center;
            font-weight: 700;
            text-transform: uppercase;
        }

        h5 {
            display: flex;
            justify-content: center;
        }
    }
}

.site-main {
    background-color: $color-white;

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back-img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
    }

    .hero-name {
        margin: 0;
        padding: 0;
        position: relative;
        top: -100px;
        left: 0;

        h1 {
            display: flex;
            justify-content: center;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-white;
        }

        h5 {
            display: flex;
            justify-content: center;
            color: $color-white;
        }
    }
}

/* HERO SECTION */
.hero {
    background-color: $color-white-bg;
    color: $color-text-subheadings;
    text-align: center;
    padding: 6em 0;
    min-height: 80vh;
    display: grid;
    place-items: center;

    video {
        height: 100vh;
    }

    .container {
        display: inline-block;
        align-items: center;
        text-align: center;

        .hero-name {
            max-width: 1000px;
        }

        h1 {
            justify-content: flex-start;
            color: $color-text-headings;
            margin-bottom: .25em;
            font-size: 4em;
        }
    
        p {
            margin: 1em auto;
        }
    }
}

/* SITE MAIN */ 
.site-main {
    background-color: $color-white;

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }
    }

    .hero-name {
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
    }
}

/* FEATURED PROJECTS */
#projects {
    padding: 0;
    background-color: $color-white-bg;

    .container {

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                list-style: none;
            }
        }
    }
}

/* AMBER AYRE */ 
.site-header,
.site-header-white {
    z-index: 1;
}

.bg-darkgreen {
    padding: 2em;

    .overview {
        h5 {
            margin: 2.5em 0 .5em 0;
            display: flex;
            justify-content: center;
            color: $color-light-green;
            font-weight: 600;
        }

        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-light-green;
        }

        h2 {
            margin: 1em 0 1em 0;
            display: flex;
            text-align: center;
            font-size: 1.8em;
            color: $color-text-body;
        }

        .box-shadow {
            img {
                box-shadow: 0px 0px 20px $color-text-headings;
            }
        }

    }
}

.brandassets {
    .row {
        display: flex;
        justify-content: center;

        h2 {
            font-weight: 700;
        }
    }
}

.bs {
    img {
        margin: 1em 0 0 0;
    }
}

.bs_desc {
    h3 {
        color: $color-text-headings;
        font-weight: 700;
    }
}

.logo-title {
    display: flex;
    justify-content: center;

    h1 {
        display: flex;
        justify-content: center;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .green {
        color: $color-portfolio-bg;
    }
}

.bg-amber {
    background-color: $color-amber;
    padding: 5em;

    .overview {
        height: 100%;
        .idea {
            h5 {
                margin: 1em 0 .5em 0;
                display: flex;
                justify-content: center;
                color: $color-text-body;
                font-weight: 600;
            }

            .idea-desc {
                margin-top: 1em;

                i {
                    font-family: $font-family-serif;
                    font-weight: 500;
                    font-size: 1.2em;
                    letter-spacing: .1em;
                    text-transform: uppercase; 
                }
            }
        }
        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-text-headings;
            height: 2px;
        }
    }
}

.schem-info {
    h2 {
        font-weight: 700;
    }
}

.sec-darkgreen {
    padding: 2em;

    .overview {
        h5 {
            margin: 2.5em 0 .5em 0;
            display: flex;
            justify-content: center;
            color: $color-light-green;
            font-weight: 600;
        }

        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-light-green;
        }

        h2 {
            margin: 1em 0 1em 0;
            display: flex;
            text-align: center;
            font-size: 1.8em;
            color: $color-text-body;
        }

        img {
            box-shadow: 0px 0px 20px $color-text-headings;
        }

        .brandassets {
            img {
                box-shadow: none;
            }

            h3 {
                font-weight: 700;
            }
        }
    }

    .variation {
        display: inline-block;
        justify-content: center;
        width: 100%;

        img {
            margin-top: 1em;
            max-width: 800px;

        }

        h3 {
            font-weight: 700;
        }
    }

}

.proj-info {
    margin-top: 2em;

    h5 {
        color: $color-light-green;
        font-weight: 600;
    }

    li {
        list-style: none;
    }

    .sub-title {
        margin-bottom: .5em;
        font-family: $font-family-serif;
        font-weight: 600;
        font-size: .6em;
        text-transform: uppercase;
        color: $color-light-green;
        letter-spacing: .2em;
    }

    .divider {
       font-weight: 500;
       font-size: 1.2em;
    }

    hr {
        margin: 1em 0 1em 0;
        justify-content: flex-end;
        width: 100%;
    }
}

.collection {
    margin-top: 5em;

    h5 {
        margin-top: 1em;
        color: $color-light-green;
        font-weight: 600;
    }
    
    img {
        max-width: 100%;
    }

    .challenge-img {
        img {
            svg {
                width: 50%;
            }
        }
    }
}

.ma_mock {
    margin-top: 2em;
    .row {
        padding: .5em 0 .5em 0;
        .one-half {

            h2 {
                margin: 0 0 .5em 0;
            }

        }
    }
}

/* SCALED COMPOSITES */ 
.conatiner {

    img {
        height: 50vh;
    }

}

/* TRILOGY BOOKS */ 
.site-main {
    background-color: $color-white;

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back-img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
    }

    .hero-name-dark {
        margin: 0;
        padding: 0;
        position: relative;
        top: -100px;
        left: 0;

        h1 {
            display: flex;
            justify-content: center;
            font-weight: 700;
            text-transform: uppercase;
        }

        h5 {
            display: flex;
            justify-content: center;
        }
    }
}

.podcast {
    margin: 4em 0 3em 0;
    background-color: $color-portfolio-bg-darker;
}

.logo-title1 {

    .title {
        margin-top: 1em;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-white;
    }

    .sub-logo-title {
        margin: 1em 0 1em 0;

        h5 {
            display: flex;
            justify-content: center;
            margin: 0;
            font-weight: 500;
            text-transform: uppercase;
            color: $color-white;
        }
    }
}

/* DUBAI TOURISM */ 
.site-main {

    .site-hero3 {
        width: 100%;
        height: 100vh;
        background: url("/img/Dubai_BrujKhalifa.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .container {
            .hero-title {
                h1 {
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-white;
                }
        
                h5 {
                    display: flex;
                    justify-content: center;
                    color: $color-white;
                }
            }
        }
    }
}


.bg-blue {
    background-color: $color-blue;
    padding: 5em;

    .overview {
        height: 100%;
        .idea {
            h5 {
                margin: 1em 0 .5em 0;
                display: flex;
                justify-content: center;
                color: $color-text-body;
                font-weight: 600;
            }

            .idea-desc {
                margin-top: 1em;

                i {
                    font-family: $font-family-serif;
                    font-weight: 500;
                    font-size: 1.2em;
                    letter-spacing: .1em;
                    text-transform: uppercase; 
                }
            }
        }
        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-text-headings;
            height: 2px;
        }
    }
}

/* TYPOGRAPHY BOOK */ 
.site-main {

    .site-hero4 {
        width: 100%;
        height: 100vh;
        background: url("/img/Typography_Hero.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .container {
            .hero-title {
                h1 {
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-white;
                }
        
                h5 {
                    display: flex;
                    justify-content: center;
                    color: $color-white;
                }
            }
        }
    }
}

/* DESCRIPTIONS OF CHALLENGES */ 
.process {
    p {
        margin: 0;
        max-width: 1500px;
    }
}

/* SEE MORE WORK */ 
.see-more {
    background-color: $color-white-bg;

    .more-work {

        h2 {
            font-size: .8em;
            font-weight: 700;
            text-transform: uppercase;
        }

        .hr-lines {
            position: relative;
            max-width: 500px;
            margin: 3em auto;
            text-align: center;

            &::before{
                content:" ";
                display: block;
                height: 2px;
                width: 300px;
                position: absolute;
                top: 50%;
                left: -50%;
                background: $color-light-green;
              }
        
            &::after {
                content:" ";
                height: 2px;
                width: 300px;
                background: $color-light-green;
                display: block;
                position: absolute;
                top: 50%;
                right: -50%;
            }
        }

       
    }

    h1 {
        margin: 1em 0 .5em 0;
        justify-content: center;
    }

    ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;

        h4 {
            margin: .5em 0 .2em 0;
            font-weight: 700;
        }

        p {
            font-size: .8em;
            color: $color-text-subheadings;
        }
    }
}

/* RESUME PAGE */ 
.resume {
    margin: 5em;

    .resume-btn {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .8em;
        letter-spacing: .1em;

        .button {
            display: flex;
            justify-content: center;
        }

        &:hover {
            color: $color-light-green;
        }
    }

    img {
        box-shadow: 0px 0px 20px $color-text-headings;
        width: 100%;
        height: auto;
    }
}

/* SITE FOOTER */ 
.site-footer {
    background-color: $color-portfolio-bg;
    display: flex;
    padding: 1em;
    justify-content: center;

    .site-nav {
        display: inline-block;
    }

    a {
        color: $color-white;
        text-decoration: none;
        letter-spacing: .1em;

        &:hover {
            color: $color-light-green;
        }
    }

    ul {
        display: flex;
        justify-content: center;
    }
}

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

sectionproj {
    display: grid;
    align-items: center;
}

sectionsd {
    background-color: $color-link-lighter;
    display: grid;
    min-height: 50vh;
    align-items: center;
}

sections {
    background-color: $color-white;
    display: grid;
    min-height: 20vh;
    align-items: center;
}


.social-links {
    display: flex;
    justify-content: center;

    a {
        color: $color-portfolio-bg-darker;

        &:hover {
            color: $color-white;
        }
    }
}