/* SITE STRUCUTURE */ 
.site-header{
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 50px;
    }

}

.site-header-white {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 50px;
    }

}

/* HERO STRUCTURE */ 
.site-main {
    background-color: $color-white;

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }
    }

    .hero-name-dark {
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;

        h1 {
            display: flex;
            justify-content: center;
            font-weight: 700;
            text-transform: uppercase;
        }

        h5 {
            display: flex;
            justify-content: center;
        }
    }
}

.hero-sub {
    text-transform: uppercase;
}

.site-main {
    background-color: $color-white;

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back-img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
    }

    .hero-name {
        margin: 0;
        padding: 0;
        position: relative;
        top: -100px;
        left: 0;

        h1 {
            display: flex;
            justify-content: center;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-white;
        }

        h5 {
            display: flex;
            justify-content: center;
            color: $color-white;
        }
    }
}

/* HERO SECTION */
.hero {
    background-color: $color-white-bg;
    color: $color-text-subheadings;
    text-align: center;
    padding: 6em 0;
    min-height: 80vh;
    display: grid;
    place-items: center;

    video {
        height: 95vh;
    }

    
    .container {
        display: inline-block;
        align-items: center;
        text-align: center;

        .hero-name {
            max-width: 1000px;
        }

        h1 {
            justify-content: flex-start;
            margin-bottom: .25em;
            font-size: 4em;
        }
    
        p {
            margin: 1em auto;
            color: $color-white;
            font-size: 2em;
        }
    }
}

/* SITE MAIN */ 
.site-main {
    background-color: $color-white;

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }
    }

    .hero-name {
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
    }
}

/* ABOUT PAGE */ 
.dark {
    padding-top: 10em;
    background-color: $color-about;
}

.about {
    margin-bottom: 5em;
    .about-title {
        display: flex;
        justify-content: center;
        font-size: .8em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $color-white;
    }

    .name {
        h1 {
            text-transform: uppercase;
            font-weight: 700;
            color: $color-white;
        }
    }

    .changing-text {
        height: 30px;

        .texts-container{
            display: flex;
            justify-content: center;
            overflow: hidden;
            height: 50px;
            color: $color-portfolio-bg;

            .roles {
                margin: 0;
                p {
                    display: flex;
                    justify-content: center;
                    animation: moveUp 8s infinite;
                    font-size: 2em;
                }

            }
        }
    }
    
    @keyframes moveUp{
        0%{
            transform: translateY(0);
        }
    
        33%{
            transform: translateY(-150%);
        }
    
        66%{
            transform: translateY(-290%);
        }
    
        100% {
            transform: translateY(0);
        }
    }
}

.about-profile {

    .profile {
    
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .location {

        h6 {
            color: $color-white;
            margin-bottom: .5em;
        }

        p {
            vertical-align: top;
        }

    }
    
    p {
        display: flex;
        color: $color-white;
        letter-spacing: .1em;
    }
}


/* FEATURED PROJECTS */
#projects {
    padding: 0;
    background-color: $color-white-bg;

    .container {

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                list-style: none;
            }
        }
    }
}

/* AMBER AYRE */ 
.site-header,
.site-header-white {
    z-index: 1;
}

.bg-darkgreen {
    padding: 2em;
    background-color: $color-dark-purple;

    .overview {
        padding: 2em;
        .schem-info {
            h2 {
                font-weight: 700;
                color: $color-white;
            }
            .process {
                p {
                    margin: 0;
                    max-width: 1500px;
                    color: $color-white;
                }
            }
        }

        h5 {
            margin: 2.5em 0 .5em 0;
            display: flex;
            justify-content: center;
            color: $color-light-green;
            font-weight: 600;
        }

        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-light-green;
        }

        h2 {
            margin: 1em 0 1em 0;
            display: flex;
            text-align: center;
            font-size: 1.8em;
            color: $color-text-body;
        }

        .white-bg {
            background-color: #ffffff;
            padding: 1em;
        }
    }
}

.brandassets {
    .row {
        display: flex;
        justify-content: center;

        h2 {
            font-weight: 700;
        }
    }
}

.bs {
    img {
        margin: 1em 0 0 0;
    }
}

.bs_desc {
    h3 {
        color: $color-text-headings;
        font-weight: 700;
    }
}

.logo-title {
    display: flex;
    justify-content: center;

    h1 {
        display: flex;
        justify-content: center;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .green {
        color: $color-portfolio-bg;
        margin-bottom: .5em;
    }
}

.bg-amber {
    background-color: $color-amber;
    padding: 5em;

    .overview {
        height: 100%;
        .idea {
            h5 {
                margin: 1em 0 .5em 0;
                display: flex;
                justify-content: center;
                color: $color-text-body;
                font-weight: 600;
            }

            .idea-desc {
                margin-top: 1em;

                i {
                    display: flex;
                    text-align: center;
                    font-family: $font-family-quotes;
                    font-weight: 500;
                    font-size: 1.2em;
                    letter-spacing: .1em;
                }
            }
        }
        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-text-headings;
            height: 2px;
        }
    }
}

.sec-darkgreen {
    padding: 2em;

    .overview {
        h5 {
            margin: 2.5em 0 .5em 0;
            display: flex;
            justify-content: center;
            color: $color-light-green;
            font-weight: 600;
        }

        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-light-green;
        }

        h2 {
            margin: 1em 0 1em 0;
            display: flex;
            text-align: center;
            font-size: 1.8em;
            color: $color-text-body;
        }

        img {
            box-shadow: 0px 0px 20px $color-text-headings;
        }

        .brandassets {
            img {
                box-shadow: none;
            }
        }

        .brand {
            margin-bottom: 1em;

            h5 {
                display: flex;
                justify-content: left;
                font-weight: 700;
            }
        }
    }

    .container {

        .logo_variation {
            margin-bottom: 4em;
    
            .variation {
                display: inline-block;
                justify-content: center;
                width: 100%;
        
                img {
                    margin-top: 1em;
                    max-width: 800px;
        
                }
        
                h5 {
                    font-weight: 700;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

.padding-large {
    padding: 8em 0;
}

.schematic {
    .row {
        margin: 2em 0 0 0;

        .white-bg {

            img {
                transition: ease-in-out .2s;

                &:hover {
                    transform: scale(1.2);
                    transition: ease-in-out .2s;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
            }

        }
    }
}

.cha_sol {

    .row {
        display: inline;

        .one-half {
            padding: 0;
            margin: 2em 0 2em 0;
            width: 100%;
        }
    }
}

.proj-info {
    margin: 4em 0;
    display: flex;
    justify-content: space-between;

    .proj-stats {
        margin: 1em;
        max-width: 400px;

        hr {
            margin: 1em 0 1em 0;
            width: 100%;
        }
    }

    ul {
        padding: 0;

        li {
            list-style: none;
        }
    }

    .insight {
        margin: 1em 1em 0 2em;

        p {
            font-size: 1.5em;
            margin: 0;
            max-width: 1000px;
        }
    }
}

.sub-title {
    margin-bottom: .5em;
    font-family: $font-family-serif;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: .1em;
    color: $color-light-green;
    text-transform: uppercase;
}

.collection {
    margin-top: 5em;

    h5 {
        margin-top: 1em;
        color: $color-light-green;
        font-weight: 600;
    }
    
    img {
        max-width: 100%;
    }

    .challenge-img {
        img {
            svg {
                width: 50%;
            }
        }
    }
}

.ma_mock {
    margin-top: 2em;
    .row {
        padding: .5em 0 .5em 0;

        .one-half {
            h2 {
                margin: 0 0 .5em 0;
                font-weight: 700;
            }

            h6 {
                font-weight: 700;
                color: $color-text-subheadings;
                margin-bottom: 1em;
            }

            img {
                transition: ease-in-out .2s;

                &:hover {
                    transform: scale(1.2);
                    transition: ease-in-out .2s;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
            }

        }
    }
}

/* SCALED COMPOSITES */ 
.conatiner {

    img {
        height: 50vh;
    }

}

.CS {
    .scaled_logo {
        video {
            width: 100%;
            height: 100%;
        }
    }
}

/* TRILOGY BOOKS */ 
.site-main {
    background-color: $color-white;

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back-img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
    }
}

.podcast {
    margin: 0;
    background-color: $color-portfolio-bg-darker;
}

.podcast_reference {
    padding: 3em;
}

.logo-title1 {

    .title {
        margin-top: 1em;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-white;
    }

    .sub-logo-title {
        margin: 1em 0 1em 0;

        h5 {
            display: flex;
            justify-content: center;
            margin: 0;
            font-weight: 500;
            text-transform: uppercase;
            color: $color-white;
        }
    }
}

.trilogy {
    margin-top: 2em;

    h5 {
        color: $color-pink;
    }

    p {
        color: $color-white;
    }
}

.episodes {
    margin: 1em 0 1em 0;
}

/* DUBAI TOURISM */ 
.inspiration {
    margin-top: 2em;

    img {
        width: 100%;

    }
    h1 {
        display: flex;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-portfolio-bg;
    }

    .current {
        margin: .5em 0 2em 0;

        h6 {
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .past {
        margin: 2em 0 .5em 0;

        h6 {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

/* GALLERY */ 

.conatiner-m {
    padding: 0;
}

.gallery {
    padding: 0;

    .featured {
        padding: 0 1em 0 1em;
        height: 30vh;

        .g_tabs {
            display: flex;

            li {
                margin: 0;

                a {
                    margin-right: 1em;
                    font-size: .7em;
                    font-weight: 600;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }
            }
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: .5em;
            font-weight: 600;
        }

        h5 {
            margin-bottom: .5em;
        }
    }

    .row {
        margin-top: 2em;
        display: flex;
        justify-content: center;

        .one-whole {
            padding: 0 .2em 0 .2em;
        }
    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        margin: 1em;
    }
}

.fixed {
    z-index: 1;
    position: fixed;
}

#left {
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0em;
    width: 500px;
    padding: 10px;

    .featured {
        margin-top: 10em;
    }
}
  
#right {
    width: 100%;
    height: 100vh;
}

#past {
    margin-top: 3em;
}

/* SEE MORE WORK */ 
.see-more {
    background-color: $color-white-bg;
    padding: 4em;

    .more-work {

        h2 {
            font-size: .8em;
            font-weight: 700;
            text-transform: uppercase;
        }

        .hr-lines {
            position: relative;
            max-width: 500px;
            margin: 3em auto;
            text-align: center;

            &::before{
                content:" ";
                display: block;
                height: 2px;
                width: 300px;
                position: absolute;
                top: 50%;
                left: -50%;
                background: $color-light-green;
              }
        
            &::after {
                content:" ";
                height: 2px;
                width: 300px;
                background: $color-light-green;
                display: block;
                position: absolute;
                top: 50%;
                right: -50%;
            }
        }
    }

    h1 {
        margin: 1em 0 .5em 0;
        justify-content: center;
    }

    ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;

        h4 {
            margin: .5em 0 .2em 0;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            font-size: .8em;
            color: $color-text-subheadings;
        }

    }
}

/* RESUME PAGE */ 
.resume {
    margin: 5em;

    .resume-btn {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .8em;
        letter-spacing: .1em;

        .button {
            display: flex;
            justify-content: center;
        }

        &:hover {
            color: $color-light-green;
        }
    }

    img {
        box-shadow: 0px 0px 20px $color-text-headings;
        width: 100%;
        height: auto;
    }
}

/* SITE FOOTER */ 
.site-footer {
    background-color: $color-portfolio-bg;
    display: flex;
    padding: 1em;
    justify-content: space-between;

    .site-nav {
        display: flex;
        height: 20px;

        .social-links {
            margin: 1.2em 0;
            height: 20px;

            a {
                display: flex;
                justify-content: center;
                color: $color-white;
                text-decoration: none;
                letter-spacing: .1em;
                padding: 0 .5em;
                height: 20px;
        
                &:hover {
                    color: $color-light-green;
                }
            }
        }
    }
        
    .CTA {
        display: flex;
        justify-content: center;

        li {
            list-style: none;

            a {
                margin: 0 1em 0 1em;
                text-decoration: none;
                color: $color-white;
                letter-spacing: .1em;
                font-size: .69em;
                font-weight: 600;
                text-transform: uppercase;
            }

        }
     }
}

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

sectionproj {
    display: grid;
    align-items: center;
}

sectionsd {
    background-color: $color-link-lighter;
    display: grid;
    min-height: 50vh;
    align-items: center;
}

sections {
    background-color: $color-white;
    display: grid;
    min-height: 20vh;
    align-items: center;
}

sectionf {
    padding: 4em 0;
    min-height: 20vh;
    display: grid;
    align-items: center;
}


.social-links {
    display: flex;
    justify-content: center;

    a {
        color: $color-portfolio-bg-darker;

        &:hover {
            color: $color-white;
        }
    }
}