/* SITE STRUCUTURE */ 
.site-header{
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 50px;
    }

}

.site-header-white {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 50px;
    }

}

/* HERO STRUCTURE */ 
.site-main {
    background-color: $color-white;
    
    .hero {
        color: $color-text-subheadings;
        text-align: center;
        padding: 6em 0;
        max-height: 90vh;
    
        video {
            height: 90vh;
        }
    
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 90vh;
            width: 100%;

            .hero-name {
                margin: 0;
                padding: 0;
                position: relative;
                top: 0;
                left: 0;

                h1 {
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-white;
                }

                h5 {
                    display: flex;
                    justify-content: center;
                    color: $color-white;
                }
            }

            .home-hero-name {
                margin: 0;
                padding: 0;
                position: relative;
                top: -100px;
                left: 0;

                h1 {
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-white;
                }

                h5 {
                    display: flex;
                    justify-content: center;
                    color: $color-white;
                }
            }

            .hero-name-dark {
                margin: 0;
                padding: 0;
                position: relative;
                top: 0;
                left: 0;

                h1 {
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                h5 {
                    display: flex;
                    justify-content: center;
                }
            }
    
            h1 {
                justify-content: flex-start;
                margin-bottom: .25em;
                font-size: 3em;
                padding: 0;
            }
        
            p {
                margin: 1em auto;
                color: $color-white;
                font-size: 2em;
            }
    
            h5 {
                margin-top: 1em;
            }
        
            .svg_p {
                margin: 0;
                color: $color-white;
                font-size: 2em;
                transition-delay: 1s;
            }
        }
    }

    .banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;

        video {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }

        .back-img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }
    }
}

.hero-sub {
    text-transform: uppercase;
}

/* HOMEPAGE HERO SECTION */ 
.site-main {
    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 90vh;
        width: 100%;
    }

    .home-banner {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }

        .back-img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }
    }

    .home-hero-name {
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 325px;

        svg {
            width: 325px;
        }

        .svg_p {
            margin-top: -1em;
            font-size: 1.1em;
            color: $color-white;
        }
    }
}

/* ABOUT PAGE */ 
.dark {
    padding-top: 10em;
    background-color: $color-about;
    height: 100vh;
}

.about {
    margin-bottom: 5em;
    .about-title {
        display: flex;
        justify-content: center;
        font-size: .8em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $color-white;
    }

    .name {
        h1 {
            padding: 0;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2.3em;
            color: $color-white;
        }
    }

    .changing-text {
        height: 30px;

        .texts-container{
            display: flex;
            justify-content: center;
            overflow: hidden;
            height: 50px;
            color: $color-portfolio-bg;

            .roles {
                margin: 0;
                p {
                    display: flex;
                    justify-content: center;
                    animation: moveUp 8s infinite;
                    font-size: 2em;
                }

            }
        }
    }
    
    @keyframes moveUp{
        0%{
            transform: translateY(0);
        }
    
        33%{
            transform: translateY(-150%);
        }
    
        66%{
            transform: translateY(-290%);
        }
    
        100% {
            transform: translateY(0);
        }
    }
}

.about-profile {
    .profile {
        width: 100%;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.bio {

    .changing-text {
        height: 60px;

        .texts-container{
            display: flex;
            overflow: hidden;
            height: 60px;
            color: $color-portfolio-bg;

            .roles {
                margin: 0;

                p {
                    display: flex;
                    justify-content: flex-start;
                    animation: moveUp 8s infinite;
                    font-size: 3em;
                }

            }
        }
    }
    
    @keyframes moveUp{
        0%{
            transform: translateY(0);
        }
    
        33%{
            transform: translateY(-130%);
        }
    
        66%{
            transform: translateY(-265%);
        }
    
        100% {
            transform: translateY(0);
        }
    }

    .bio-p {
        margin: .1em 0;
        font-size: 3em;
        color: $color-white;
    }

    .social-links {
        display: flex;
        justify-content: flex-start;
        margin: 1.2em 0;
        height: 20px;

        a {
            display: flex;
            justify-content: flex-start;
            color: $color-white;
            text-decoration: none;
            letter-spacing: .1em;
            padding: 0 .5em;
            height: 20px;
    
            &:hover {
                color: $color-light-green;
            }
        }
    }
}

// MORE ON ABOUT PAGE 
.faves {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    ul {
        display: flex;
        padding: 0;
        list-style: none;

        li {
            margin: 0 1em 0 0;
            color: $color-white;
        }
    }
}


/* FEATURED PROJECTS */
#projects {
    margin: 4em 0;
    padding: 0;

    .container {

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                list-style: none;
            }
        }
    }
}

/* AMBER AYRE */ 
.site-header,
.site-header-white {
    z-index: 1;
}

// PROJECT INFORMATION
.proj-info {
    margin: 4em 0;
    display: block;
    justify-content: center;

    .proj-stats {
        margin: 1em 1em 2em 1em;
        width: 445px;

        hr {
            margin: 1em 0;
            width: 25%;
        }
    }

    ul {
        padding: 0;
        li {
            list-style: none;
        }
    }

    .insight {
        margin: 1em;

        p {
            font-size: 1em;
            width: 330px;
        }
    }
} 

// AMBER PULL QUOTE
.bg-amber {
    background-color: $color-amber;
    padding: 5em;

    .overview {
        height: 100%;
        .idea {
            h5 {
                margin: 1em 0 .5em 0;
                display: flex;
                justify-content: center;
                color: $color-text-body;
                font-weight: 600;
            }

            .idea-desc {
                margin-top: 1.1em;

                i {
                    display: flex;
                    text-align: center;
                    font-family: $font-family-quotes;
                    font-weight: 500;
                    font-size: 1em;
                    letter-spacing: .1em;
                }
            }
        }
        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-text-headings;
            height: 2px;
        }
    }
}

// SECTIONS

.amber_sections {
    padding: 2em;


    .logo-title {
        display: flex;
        justify-content: center;

        h1 {
            display: flex;
            justify-content: center;
            margin: 0;
            font-weight: 700;
            font-size: 2em;
            text-transform: uppercase;
        }
        
        .green {
            color: $color-portfolio-bg;
            margin-bottom: .5em;
        }
    }   

    .overview {
        h5 {
            margin: 2.5em 0 .5em 0;
            display: flex;
            justify-content: center;
            color: $color-light-green;
            font-weight: 600;
        }

        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-light-green;
        }

        h2 {
            margin: 1em 0 1em 0;
            display: flex;
            text-align: center;
            font-size: 1.8em;
            color: $color-text-body;
        }

        img {
            box-shadow: 0px 0px 20px $color-text-headings;
        }

        .brandassets {
            img {
                box-shadow: none;
            }
        }

        .brand {
            margin-bottom: 1em;

            h5 {
                display: flex;
                justify-content: left;
                font-weight: 700;
            }
        }
    }

    .container {

        .logo_variation {
            margin-bottom: 4em;
    
            .variation {
                display: inline-block;
                justify-content: center;
                width: 100%;
        
                img {
                    margin-top: 1em;
                    width: 100%;
        
                }
        
                h5 {
                    font-weight: 700;
                    margin-bottom: 1em;
                }
            }
        }
    }

    .brandassets {
        .row {
            display: flex;
            justify-content: center;

            h2 {
                font-weight: 700;
            }
        }
    }

    .ma_mock {
        margin-top: 2em;
        .row {
            padding: .5em 0 .5em 0;
    
            .one-half {
                h2 {
                    margin: 0 0 .5em 0;
                    font-weight: 700;
                }
    
                h5 {
                    display: flex;
                    justify-content: flex-start;
                    font-weight: 700;
                    margin-bottom: 1em;
                }
    
                img {
                    transition: ease-in-out .2s;
    
                    &:hover {
                        transform: scale(1.2);
                        transition: ease-in-out .2s;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }
    
            }
        }
    }
}

.amber_dark_section {
    padding: 2em;
    background-color: $color-dark-purple;

    .overview {
        padding: 2em;
        .schem-info {
            h2 {
                font-weight: 700;
                color: $color-white;
            }
            .process {
                p {
                    margin: 0;
                    max-width: 1500px;
                    color: $color-white;
                }
            }
        }

        h5 {
            margin: 2.5em 0 .5em 0;
            display: flex;
            justify-content: center;
            color: $color-light-green;
            font-weight: 600;
        }

        hr {
            margin: auto;
            display: flex;
            justify-content: center;
            max-width: 20px;
            height: 2px $color-light-green;
        }

        h2 {
            margin: 1em 0 1em 0;
            display: flex;
            text-align: center;
            font-size: 1.8em;
            color: $color-text-body;
        }

        .white-bg {
            background-color: #ffffff;
            padding: 1em;
        }
    }
}

.padding-large {
    padding: 8em 0;
}

.schematic {
    .row {
        margin: 2em 0 0 0;

        .white-bg {

            img {
                transition: ease-in-out .2s;

                &:hover {
                    transform: scale(1.2);
                    transition: ease-in-out .2s;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
            }

        }
    }
}

.cha_sol {

    .row {
        display: inline;

        .one-half {
            padding: 0;
            margin: 2em 0 2em 0;
            width: 100%;
        }
    }
}

.sub-title {
    margin-bottom: .5em;
    font-family: $font-family-serif;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: .1em;
    color: $color-light-green;
    text-transform: uppercase;
}

.collection {
    margin-top: 5em;

    h5 {
        margin-top: 1em;
        color: $color-light-green;
        font-weight: 600;
    }
    
    img {
        max-width: 100%;
    }

    .challenge-img {
        img {
            svg {
                width: 50%;
            }
        }
    }
}

/* SCALED COMPOSITES */ 
.CS {
    .scaled_logo {
        video {
            width: 100%;
            height: 100%;
        }
    }
}

/* TRILOGY BOOKS */

.podcast {
    margin: 0;
    background-color: $color-portfolio-bg-darker;
}

.podcast_reference {
    padding: 3em;
}

.logo-title-podcast {

    .title {
        margin-top: 1em;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-white;
    }

    .sub-logo-title {
        margin: 1em 0 1em 0;

        h5 {
            display: flex;
            justify-content: center;
            margin: 0;
            font-weight: 500;
            text-transform: uppercase;
            color: $color-white;
        }
    }
}

.trilogy {
    margin-top: 2em;

    h5 {
        color: $color-pink;
    }

    p {
        color: $color-white;
    }
}

.podcast {
    margin: 0;
    background-color: $color-portfolio-bg-darker;
}

.logo-title-podcast {
    h1 {
        font-size: 1.4em;
    }
}

.episodes {
    margin: 1em 0 1em 0;
}

/* DUBAI TOURISM */ 
.inspiration {
    margin-top: 2em;

    img {
        width: 100%;

    }
    h1 {
        display: flex;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-portfolio-bg;
    }

    .current {
        margin: .5em 0 2em 0;

        h6 {
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .past {
        margin: 2em 0 .5em 0;

        h6 {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

/* GALLERY */ 
.g_header {
    display: inline-block;
    justify-content: center;
    align-items: center;
	background-color: $color-portfolio-bg;
	color: $color-white;
    width: 100%;
    height: 50vh;

	h1{
        justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .2em;
		line-height: .8;
        color: $color-white;
        padding-top: 3em;
        margin: 0;
	}

    span {
        text-transform: uppercase;
        letter-spacing: .1em;
        line-height: 1;
        font-weight: 500;
        font-size: .5em;
        color: $color-white;

    }
}


.g_tabs {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1em;

    li {
        list-style: none;

        a {
            text-transform: uppercase;
            letter-spacing: .1em;
            font-weight: 600;
            font-size: .7em;
        }
    }
}

.gallery {
    width: 400px;
    height: 50%;
    background-color: transparent;

    h1 {
        display: flex;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.g_title {
    display: flex;
    justify-content: center;
    
    h2 {
        font-size: 1.5em;
        font-weight: 600;
        text-transform: uppercase;
    }

}

.past_work,
.internship_work {
    display: flex;
    justify-content: center;
}

#past,
#internship {
    display: flex;
    justify-content: center;

    .container {
        .row {
            margin: 0;
            display: flex;
            justify-content: center;
        }
    
        ul {
            padding: 0;
            list-style: none;
        }
    
        li {
            margin: 1em;
        }

    }
}


.internship_work,
.past_work {
    padding: 4em 0;

    .MFH,
    .HLR,
    .TUM,
    .MUW {
        margin: 4em 0;

        img {
            box-shadow: 0 0 10px 1px $color-link-lighter;
        }
    }
}

.fixed {
    z-index: 1; 
    position: fixed;
}

#past {
    margin-top: 3em;
}

/* SEE MORE WORK */ 
.see-more {
    background-color: $color-white-bg;
    padding: 4em;

    .more-work {
        h2 {
            font-size: .8em;
            font-weight: 700;
            text-transform: uppercase;
        }

        .hr-lines {
            position: relative;
            max-width: 180px;
            margin: 3em auto;
            text-align: center;

            &::before{
                content:" ";
                display: block;
                height: 2px;
                width: 100px;
                position: absolute;
                top: 50%;
                left: -50%;
                background: $color-light-green;
              }
        
            &::after {
                content:" ";
                height: 2px;
                width: 100px;
                background: $color-light-green;
                display: block;
                position: absolute;
                top: 50%;
                right: -50%;
            }
        }
    }

    h1 {
        margin: 1em 0 .5em 0;
        justify-content: center;
    }

    ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 2em 0;

        h4 {
            margin-top: 1em;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            font-size: .8em;
            color: $color-text-subheadings;
        }

    }
}

/* RESUME PAGE */ 
.resume {
    margin: 5em;

    .resume-btn {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .8em;
        letter-spacing: .1em;

        .button {
            display: flex;
            justify-content: center;
        }

        &:hover {
            color: $color-light-green;
        }
    }

    img {
        box-shadow: 0px 0px 20px $color-text-headings;
        width: 100%;
        height: auto;
    }
}

/* SITE FOOTER */ 
.site-footer {
    background-color: $color-portfolio-bg;
    display: flex;
    padding: 1em;
    justify-content: space-between;

    .site-nav {
        display: flex;
        height: 20px;

        .social-links {
            margin: 1.2em 0;
            height: 20px;

            a {
                display: flex;
                justify-content: center;
                color: $color-white;
                text-decoration: none;
                letter-spacing: .1em;
                padding: 0 .5em;
                height: 20px;
        
                &:hover {
                    color: $color-light-green;
                }
            }
        }
    }
        
    .CTA {
        display: flex;
        justify-content: center;

        li {
            list-style: none;

            a {
                margin: 0 1em 0 1em;
                text-decoration: none;
                color: $color-white;
                letter-spacing: .1em;
                font-size: .69em;
                font-weight: 600;
                text-transform: uppercase;
            }

        }
    }
}

section {
    padding: 4em 0;
    max-height: 90vh;
}

sectionproj {
    display: grid;
    align-items: center;
}

sectionsd {
    background-color: $color-link-lighter;
    display: grid;
    min-height: 50vh;
    align-items: center;
}

sections {
    background-color: $color-white;
    display: grid;
    min-height: 20vh;
    align-items: center;
}

sectionf {
    padding: 4em 0;
    min-height: 20vh;
    display: grid;
    align-items: center;
}

.site-nav {
    .social-links {
        display: flex;
        justify-content: center;

        a {
            color: $color-portfolio-bg-darker;

            &:hover {
                color: $color-white;
            }
        }
    }
}